@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#menu {
    text-align: center;
    background-color: #6CC417;
    color: white;
    
}

body {
    line-height: 1.5;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

#formHeader {
    text-align: center;
}

#subscribe {
    text-align: center;
}

footer div.container a.subscribe {
    background-color: #4EE2EC;
}

#submission {
    text-align: center;
}

.logo {
    text-indent: -999999px;
    background: url('images/Healthybites.png');
    width: 100px;
    height:40px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer div.container{
    max-width: 1170px;
    margin:auto;
}

footer div.row{
    display:flex;
    flex-wrap:wrap;
}
footer div.footer-col ul {
    list-style:none;
}
.footer{
    background: #6CC417;
    padding: 70px 0;
}
footer div.footer-col{
    width: 25%;
    padding: 0 15px;
}

footer div.footer-col h4{
    font-size:18px;
    color:#ffffff;
    text-transform:capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

footer div.footer-col h4 ::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    height:2px;
    box-sizing:border-box;
    width:50px;
}

footer div.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

footer div.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff ;
    text-decoration: none;
    font-weight: 300;
    color:#ffffff;
    display:block;
    transition: all 0.3s ease;
}

footer div.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 10px;
}

footer div.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    footer div.footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 574px){
    footer div.footer-col{
        width: 100%;
    }

}

.follow {
    color: #ffffff;
}

.subscribe {
    color:#ffffff;
}

.button1 {
    padding:10px;
    background-color: #4EE2EC;
    border: 2px solid #4EE2EC;
    font-size: 20px;
    align-content: center;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }